<div class="footer">
    <div class="footer-content">
      <!-- Logo -->
      <div class="logo">
        <img src="./assets/images/ethos.png" alt="Company Logo" style="border-radius: 50%; height: 50px; width :50px" />
      </div>
  
      <!-- Social Media Links -->
      <div class="social-media">
        <a href="https://www.instagram.com/ethos_dancestudio?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank" aria-label="Instagram">
          <img src="./assets/images/InstagramEmblem.png" alt="Instagram" />
        </a>
        <a (click)="Take_to_contact_Us()" target="_blank" aria-label="WhatsApp">
          <img src="./assets/images/whatsup.png"alt="WhatsApp" />
        </a>
      </div>
    </div>
  </div>
  