<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Include the above in your HEAD tag -->

<section class="welcome-area" id="home">
  <!-- Background Shape -->
  <div class="background-shape">
    <div class="circle1 wow fadeInRightBig" data-wow-duration="4000ms" style="visibility: visible; animation-duration: 4000ms; animation-name: fadeInRightBig;"></div>
    <div class="circle2 wow fadeInRightBig" data-wow-duration="4000ms" style="visibility: visible; animation-duration: 4000ms; animation-name: fadeInRightBig;"></div>
    <div class="circle3 wow fadeInRightBig" data-wow-duration="4000ms" style="visibility: visible; animation-duration: 4000ms; animation-name: fadeInRightBig;"></div>
    <div class="circle4 wow fadeInRightBig" data-wow-duration="4000ms" style="visibility: visible; animation-duration: 4000ms; animation-name: fadeInRightBig;"></div>
  </div>
  <!-- Background Animation -->
  <div class="background-animation">
    <div class="star-ani"></div>
    <div class="cloud-ani"></div>
    <div class="triangle-ani"></div>
    <div class="circle-ani"></div>
    <div class="box-ani"></div>
  </div>

  <div class="container h-100">
    <div class="row h-100 align-items-center justify-content-between">
      <!-- Welcome Content -->
      <div class="col-12 col-md-6 col-lg-5">
        <div class="welcome-content">
          <h2 class="wow fadeInUp" data-wow-duration="1000ms" style="visibility: visible; animation-duration: 1000ms; animation-name: fadeInUp;">
            Welcome to Our Dance Studio!
          </h2>
          <p class="mb-4 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="200ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 200ms; animation-name: fadeInUp;">
            Join us at <strong>[Your Studio Name]</strong>, where passion meets rhythm! Whether you're a beginner or a seasoned dancer, we offer a wide range of dance classes in styles such as ballet, hip-hop, contemporary, and more. Dance your heart out with us!
          </p>
          <a class="btn saasbox-btn white-btn mt-3 wow fadeInUp" href="#classes" data-wow-duration="1000ms" data-wow-delay="400ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 400ms; animation-name: fadeInUp;">
            Explore Our Classes
          </a>
        </div>
      </div>
      <!-- Welcome Thumb -->
      <div class="col-10 col-md-6">
        <div class="welcome-thumb hero1 wow fadeInUp" data-wow-delay="300ms" style="visibility: visible; animation-delay: 300ms; animation-name: fadeInUp;">
          <!-- Replace the image with a dance studio related image -->
          <img src="img/bg-img/dance-hero.jpg" alt="Dance Studio">
        </div>
      </div>
    </div>
  </div>
</section>
